{
  auto_https off
  debug
}

http://lavinmq.home.arpa {
  reverse_proxy http://lavinmq:15672
}

http://nodered.home.arpa {
  reverse_proxy http://nodered:1880
}

http://n8n.home.arpa {
  reverse_proxy http://n8n:5678
}

http://grafana.home.arpa {
  reverse_proxy http://grafana:3000
}

http://influxdb.home.arpa {
  reverse_proxy http://influxdb:8086
}
